*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;

}

.App {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: aliceblue;
  text-align: center;
  
}

.App-container{
  height: 550px;
  background-image :linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.3))
  , url('../src/Images/weatherPics.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  width: 300px;
  max-width: 100%;
  display: flex;

  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding: 10px 0;
}

.Search-container{
  background-color: white;
  color: rgb(31, 141, 231);
  padding: 20px;
  width: 250px;
  z-index: 22222;
  position: absolute;
  top: 150px;
  
}

.Search-container li{
  list-style: none;
  text-decoration: none;
  margin-bottom: 5px;
}

.navbar {
  display: flex;
  justify-content:flex-start;   
  align-items: center;
  width:100%;
  padding:0 20px;
}

.navbar ul{
  display: flex;
  list-style: none;
  text-decoration: none;
  margin-top: 15px;
  font-weight: bold;
  font-size: 1rem;

  
}

.navbar ul li{
  display: flex;
  justify-content:space-between;   
  align-items: center;

}

.navbarState{
    margin-left: 90px;
}

.banner p{
  font-size: 10rem;
  
}

.banner span{
  font-size: 1rem;

}

.banner ul{
  display: flex;

}

.banner ul li{
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  padding:0 .8rem;
  font-weight: bold;
  font-size: 1rem;
}


.footer p{
  font-size: 8rem;
  
}


input{
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 7px;
  margin-top: 4vh;
}

.Fabars{
  font-size: 1.8rem;
  margin-top: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.FaCloud{
  font-size: 1.8rem;
}

form{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  
}
h4{
  font-weight: 200;
}          